<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet library="css" name="estilos.css" />
	<f:event listener="#{masterBean.verificarSesion()}"
		type="preRenderView"></f:event>
	<h:outputStylesheet library="webjars"
		name="font-awesome/5.12.0/css/all.min-jsf.css" />
	<h:outputStylesheet library="webjars"
		name="font-awesome/5.12.0/css/v4-shims.min-jsf.css" />
	<title><ui:insert name="titulo">ADMINISTRADOR</ui:insert></title>
</h:head>

<body class="resolucion">
	<ui:insert name="header">
	
		<p:menubar>
			<p:menuitem value="INICIO" url="../protegido/seguir.xhtml"
				icon="pi pi-home" />
			<p:menuitem value="Crear Administrador"
				url="../registrar.xhtml" icon="pi pi-cloud" />

			<p:submenu label="PLATOS" icon="pi pi-pencil">
				<p:menuitem value="BEBIDAS" url="../protegido/seguir.xhtml"
					icon="pi pi-angle-double-left" />
				<p:separator />
				<p:menuitem value="POSTRES" url="/protegido/usuarios.xhtml"
					icon="pi pi-angle-double-right" />
				<p:separator />
				<p:menuitem value="SEGUNDOS" url="../protegido/roles.xhtml"
					icon="pi pi-angle-double-left" />
				<p:separator />
				<p:menuitem value="SOPAS" url="../protegido/asignar.xhtml"
					icon="pi pi-angle-double-right" />
			</p:submenu>


			<f:facet name="options">
				<p:commandButton value="SALIR" icon="pi pi-home"
					actionListener="#{masterBean.cerrarSesion()}"
					action="index?faces-redirect=true" immediate="true" />
			</f:facet>
		</p:menubar>
	</ui:insert>
	
</body>
</html>