<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:p="http://primefaces.org/ui">
      
<ui:composition template="/WEB-INF/template/master.xhtml">
	<ui:define name="content">
		<h1>PUBLICACIONES</h1>
		<h:form id="frm">
			<p:growl id="growl" showDetail="true" sticky="true" /> 
			<h:panelGrid id="pg">
				<p:inputTextarea value="#{publicacionBean.publicacion.cuerpo}" id="txtTexto" counter="display" rows="5" cols="70" maxlength="250" counterTemplate="{0} caracteres restantes"
				autoResize="false" required="true" requiredMessage="Debe ingresar un texto"/>
				<p:message for="txtTexto" display="texto"/>
				<h:outputText id="display" />
				
				<p:commandButton value="Publicar" actionListener="#{publicacionBean.publicar()}" update=":frm:pg, growl, :frmpublicaciones"/>
			</h:panelGrid>
		</h:form>
		
		<h2>LISTADO DE PUBLICACIONES</h2>
		<h:form id="frmpublicaciones">
			<h:panelGrid columns="1">
				<p:repeat var="e" value="#{publicacionBean.publicaciones}">
					<p:outputPanel>
						<h:panelGrid columns="2" cellpadding="5">
							<p:graphicImage value="/imagen/#{e.publicador.idPersona}" width="32" height="32"/>
							<h:outputText value="#{e.cuerpo}" />
						</h:panelGrid>
					</p:outputPanel>
				</p:repeat>
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>

</html>