<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
      
  <h:head>
<link rel="stylesheet" href="animate.min.css" />
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" />

	<link href="./resources/css/index.css" rel="stylesheet"
		type="imagen/css" />
	<h:outputStylesheet library="webjars"
		name="font-awesome/5.12.0/css/all.min-jsf.css" />
	<h:outputStylesheet library="webjars"
		name="font-awesome/5.12.0/css/v4-shims.min-jsf.css" />
</h:head>
<style>
body {
	font-family: 'Roboto', negrite;
	background: #000000; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #434343, #000000);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #434343, #000000);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card-columns { @include media-breakpoint-only(lg) { column-count:4;}
@include media-breakpoint-only(xl){
column-count:5;
}
}
@media ( min-width : 576px) {
	.card-columns .card {
		display: inline-block;
		width: 83%;
	}
}
</style>
<h:form style="padding: 1px;">
	<p:growl id="growl" showDetail="true" sticky="true" />

	<!--  p:breadCrumb-->
	
	<li class="nav-item"><a class="nav-link"
					href="Contactos.xhtml?faces-redirect=true"><i
						class="fas fa-envelope"></i>Contact</a></li>
		<p:menubar>
		
		
		
	    <p:menuitem value="INICIAR SESION" action="/index.xhtml?faces-redirect=true"
		immediate="true"/>
		
		<p:submenu label="CATEGORIA DE PLATOS " icon="pi pi-file">
		<p:menuitem value="BEBIDAS" url="#"/>
		<p:separator/>
		<p:menuitem value="POSTRES" url="#" />
		<p:separator/>
		<p:menuitem value="SEGUNDOS" url="#" />
		<p:separator/>
		<p:menuitem value="SOPAS" url="#" />
		<p:separator/>
		</p:submenu>
		


		 </p:menubar>  
	<!--/p:breadCrumb-->

</h:form>
 		
		

<h:body>
<p:graphicImage library="Slider" name="pbotella.jpg"
		style=" max-width:100%; height: fit-content;" />
		</h:body>
		
<ui:insert name="content"></ui:insert>
<ui:insert name="footer">
	<div>Copyright INSTITUTO SUPERIOR TECNOLOGICO DANIEL ALVAREZ BURNEO, 2020 Análisis de Sistemas</div>
</ui:insert>

</html>