<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
		xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<ui:composition template="/WEB-INF/template/master.xhtml">
	<ui:define name="content">
		<h1>MI MURO</h1>
		<h:form id="frm">
			<h:panelGrid columns="2" dir="pg">
				<p:repeat var="e" value="#{SeguirBean.seguir}">
					<p:outputPanel>
						<h:panelGrid columns="1" cellpadding="5" >
							<p:graphicImage value="/imagen/#{e.publicador.idPersona}" width="32" height="32"/>
							<h:outputText value="Usuario: #{e.publicador.nombres} #{e.publicador.apellidos} " />
							<h:outputText value="PUBLICACION:" />
							<h:outputText value="#{e.cuerpo}" />
							<h:outputText value="FECHA:" />
							<h:outputText value="#{e.fecha}" >
							 			<f:convertDateTime type="localDate" pattern="dd/MM/yyyy HH:mm:ss"/>
							 		</h:outputText>
						</h:panelGrid>
					</p:outputPanel>
				</p:repeat>
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>

</html>