<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<ui:composition template="/WEB-INF/template/master.xhtml">
		<ui:define name="content">
			<h1>-------------PLATOS VARIOS----------------</h1>
			<h:form >
				<p:growl id="growl" showDetail="true" autoUpdate="true" />
				<p:dataGrid var="p" value="#{seguirBean.personas}" columns="3"
					layout="grid" rows="12" paginator="true"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="6,12,16">
					
					<f:facet name="header">
						------BEBIDAS------
					</f:facet>

					<p:panel header="#{p.canton}" style="text-align:center">
						<h:panelGrid columns="1" style="width:100%">
							<p:graphicImage value="/imagen/#{p.idPersona}" width="32" height="32"/>

							<h:outputText value="#{p.nombres} #{p.apellidos}" />

							<p:commandButton icon="pi pi-plus" value="Seguir"  actionListener="#{seguirBean.seguir(p)}" rendered="#{!p.esSeguido}" update="@form"/>
							<p:commandButton icon="pi pi-minus" value="Dejar de Seguir" actionListener="#{seguirBean.dejar(p)}" rendered="#{p.esSeguido}" update="@form"/>
							
						</h:panelGrid>
					</p:panel>
					
				</p:dataGrid>
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>